#id_test1_term1{
    width: 50px;
}
#id_test2_term1{
    width: 50px;
}
#id_assignment1_term1{
    width: 100px;
}
#id_assignment2_term1{
    width: 100px;
}
#id_Exam_term1{
    width: 50px;
}
#id_total_term1{
    width: 50px;
}
#id_grade_term1{
    width: 50px;
}



#id_test1_term2{
    width: 50px;
}
#id_test2_term2{
    width: 50px;
}
#id_assignment1_term2{
    width: 100px;
}
#id_assignment2_term2{
    width: 100px;
}
#id_Exam_term2{
    width: 50px;
}
#id_total_term2{
    width: 50px;
}
#id_grade_term2{
    width: 50px;
}




#id_test1_term3{
    width: 50px;
}
#id_test2_term3{
    width: 50px;
}
#id_assignment1_term3{
    width: 100px;
}
#id_assignment2_term3{
    width: 100px;
}
#id_Exam_term3{
    width: 50px;
}
#id_total_term3{
    width: 50px;
}
#id_grade_term3{
    width: 50px;
}
