{% extends "base.html" %}
{% load static %}
{% block title %}
  School | Gallery
{% endblock title %}


{% block content %}
  <!-- Section: Gallery -->
  <section id="gallery">
    <div class="container">
      <div class="section-title text-center">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="text-uppercase line-bottom-double-line-centered mt-0">School <span class="text-theme-colored2">Gallery</span></h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem autem voluptatem obcaecati! <br>ipsum dolor sit Rem autem voluptatem obcaecati</p> -->
          </div>
        </div>
      </div>
      <div class="section-content text-center">
        <div class="row">
          <div class="col-md-12">
            <!-- Portfolio Gallery Grid -->
            <div class="gallery-isotope default-animation-effect grid-4 masonry gutter-small clearfix" data-lightbox="gallery">
              <!-- grid sizer for Masonry -->
              <div class="gallery-item gallery-item-sizer"></div>

              <!-- Portfolio Item Start -->
              <div class="gallery-item wide">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m1.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m1.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/800x600">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m3.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m3.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m4.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m4.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>

              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m5.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m5.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>

              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m2.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m2.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x600">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m6.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m6.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m7.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m7.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->

              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m8.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m8.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m9.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m9.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m10.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m10.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m11.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m11.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m12.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m12.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m13.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m13.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m14.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m14.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m15.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m15.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m16.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m16.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m17.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m17.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m18.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m18.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m19.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m19.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m20.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m20.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m21.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m21.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
              <!-- Portfolio Item Start -->
              <div class="gallery-item">
                <div class="thumb">
                  <img class="img-fullwidth" src="{% static 'images/gallery/m22.jpg' %}" alt="project">
                  <div class="overlay-shade bg-theme-colored"></div>
                  <div class="icons-holder">
                    <div class="icons-holder-inner">
                      <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored2">
                        <a data-lightbox="image" href="{% static 'images/gallery/m22.jpg' %}"><i class="fa fa-plus"></i></a>
                        <!-- <a href="#"><i class="fa fa-link"></i></a> -->
                      </div>
                    </div>
                  </div>
                  <!-- <a class="hover-link" data-lightbox="image" href="http://placehold.it/400x300">View more</a> -->
                </div>
              </div>
              <!-- Portfolio Item End -->
            </div>
            <!-- End Portfolio Gallery Grid -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}
