{% extends "dashboard.html" %}
{% load static %}

{% block title %}Dashboard: {{ object.username }}{% endblock %}


{% block extra_header %}

{% endblock extra_header %}


{% block content %}
<!-- top stat row -->
<div class="container">
  <div class="row m-0 p-0">
    <h3 class="mb-3">Dashboard</h3>
    <div class="col-12 p-0">
      <div class="topstat d-flex justify-content-between">
        <div class="statbox">
          <i class="fas fa-users fa-3x"></i>
          <div class="text">
            <p>students</p>
            <h3>{{ total_students }}</h3>
          </div>
        </div>
        <div class="statbox">
          <i class="fas fa-users fa-3x"></i>
          <div class="text">
            <p>teachers</p>
            <h3>{{ total_teachers }}</h3>
          </div>
        </div>
        <div class="statbox">
          <i class="fas fa-users fa-3x"></i>
          <div class="text">
            <p>Session</p>
            <h3></h3>
          </div>
        </div>
        <div class="statbox">
          <i class="fas fa-users fa-3x"></i>
          <div class="text">
            <p>Subjects</p>
            <h3></h3>
          </div>
        </div>

      </div>
      <h3 class="text-primary mt-5">Updates</h3>
      <p class="mt-5 text-info">* changes in user interface</p>
      <p class="text-info">* All teachers can now add their respective subject if not addedd to a class, and add students scores.</p>
      <p class="text-info">* Compilation, Rating of result can only be done by FormMasters</p>
      <p class="text-info">* Edition of scores for any class will not be available after end of a session</p>
      <p class="text-info">* In case of any abnormalities try using Chrome!</p>
    </div>
  </div>


</div>

{% endblock content %}
