{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Log In" %}{% endblock %}

{% block content %}
<section class="">
  <div class="container position-relative p-0 mt-90" style="max-width: 570px;">
    <h3 class="bg-theme-colored2 p-15 pt-10 mt-0 mb-0 text-white">Log In </h3>
    <div class="section-content  p-30">
      <div class="row">
        <div class="col-md-12">


          {% get_providers as socialaccount_providers %}

          {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
          for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

          <div class="socialaccount_ballot">

            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>

            <div class="login-or">{% trans 'or' %}</div>

          </div>

          {% include "socialaccount/snippets/login_extra.html" %}

          {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}" class="text-theme-colored2">sign up</a> first.{% endblocktrans %}</p>
          {% endif %}

          <form  class="login mb-0 bg-silver-light   p-30 " method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <!-- <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> -->
            <button class="btn btn-colored btn-block btn-theme-colored2 text-white btn-lg btn-flat" type="submit">{% trans "Sign In" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock content %}
